{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<link rel="stylesheet" href="../static/css/styles.css">
<title> {{ title }} </title>

<div class="container">

    <h1>Welcome to One Minute Pitch</h1>
    <br><br>

<div class="column-md-10">
    <div class="panel panel-default panel-heading"><a href="/category/promotion">Promotion</a></div>
    <div class="panel panel-default panel-heading"><a href="category/pickup">Pick up</a></div>
    <div class="panel panel-default panel-heading"><a href="/category/production">Production</a></div>
    <div class="panel panel-default panel-heading"><a href='/category/interview'>Interview</a></div>
</div>

	
		

	

</div>
	



{% endblock %}
