{% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<title> {{ title }} </title>

<div class="container">

    <h1>Welcome to One Minute Pitch</h1>

<div class="row">
    <div class="panel panel-default panel-heading"><a href="/category/promotion">Jokes</a></div>
    <div class="panel panel-default panel-heading"><a href="category/pickuplines">Pick up lines</a></div>
    <div class="panel panel-default panel-heading"><a href="/category/production">interview</a></div>
    <div class="panel panel-default panel-heading"><a href='/category/interview'>marketing</a></div>
</div>

</div>

{% endblock %}
