{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid">
    <div><h2>{{production.post}}</h2></div>
    <div><p>{{production.body}}</p></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process',
                function(data) {
              $('#likes').text(data)
            });
            return false;
          });
        });
        $(function() {
          $('a#tes').bind('click', function() {
            $.getJSON('/background_processs',
                function(data) {
              $('#unlikes').text(data)
            });
            return false;
          });
        });
</script>


<!--button-->

<form>
    <a href=# id=test><button class='btn btn-success'>Like</button></a><span id="likes"></span>

    <a href=# id=tes><button class='btn btn-danger'>Dislike</button></a><span id="unlikes"></span>
</form>


{{ wtf.quick_form(comment_form) }}


{%for comment in comments %}
    <div class="panel"><h5>{{comment.comment}}</h5>
    <h4> &nbsp; {{comment.user.username}}</h4></div>
{%endfor%}
</div>





{% endblock %}
